@model HttpEcho.Models.EchoViewModel

@{}

@if (null == Model)
{
    <h1 class="h1">Model is null</h1>
    <form asp-action="index" asp-controller="echo" method="post">
        <input type="text" name="name" value="" />
        <input type="submit" name="submit" value="POST" />
    </form>

    <form asp-action="index" asp-controller="echo" method="get">
        <input type="text" name="name" value="" />
        <input type="submit" name="submit" value="GET" />
    </form>
}
else
{

        <h1 class="h1">Results</h1>
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Method" class="col-md-3 control-label"></label>
                    <input asp-for="Method" readonly class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Action" class="col-md-3 control-label"></label>
                    <input asp-for="Action" readonly class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div><label asp-for="QueryString"></label></div>
                    @foreach (var item in Model.QueryString)
                    {
                        <label class="col-md-3 control-label">@item.Key</label>
                        <input readonly class="form-control" value="@item.Value" />
                    }

                    <div><label asp-for="FormItems"></label></div>
                    @foreach (var item in Model.FormItems)
                    {
                        <label class="col-md-3 control-label">@item.Key</label>
                        <input readonly class="form-control" value="@item.Value" />
                    }

                    <div><label asp-for="RequestVariables"></label></div>
                    @foreach (var item in Model.RequestVariables)
                    {
                        <label class="col-md-3 control-label">@item.Key</label>
                        <textarea readonly class="form-control">@item.Value</textarea>
                    }

                </div>

            </div>
        </div>
}


